body{
    margin: 0;
    padding: 0;
    background: url(fondo1.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
h1{
font-family:Tahoma;
color:white;
font-size:45px;
}
h2{
font-family:"Arial Narrow";
color:white;
font-size:35px;
}
h3{
font-family:"Arial Narrow";
color:white;
font-size:25px;
}
p{
font-family:Arial;
color:white;
font-size:20px;
}
ul{
font-family:Arial;
color:#ffffffbe;
font-size:25px;
} 
.tai{
    float: right;
    padding-right: 350px;
}
.padt{
    float: right;
    padding-right: 350px;
}
.tom{
    float: right;
    padding-right: 350px;
}
.somt{
    float: right;
    padding-right: 250px;
}
.kuayteow{
    float: right;
    padding-right: 350px;
}
.kaim{
    float: right;
    padding-right: 250px;
}
img{
    border-radius: 25%;
}
.pag{
    display: block;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 25px;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px rgb(209, 211, 211);
    background: linear-gradient(
        180deg,
        rgb(8, 8, 8)25%,
        rgb(44, 44, 44)93%
    );
}
.pag:hover{
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.rec{
    display: block;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: rgb(83, 83, 83);
    border-radius: 25px;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px rgb(209, 211, 211);
    background: linear-gradient(
        180deg,
        rgb(8, 8, 8)25%,
        rgb(44, 44, 44)93%
    );
}
.rec:hover{
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.pad{
    display: block;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: rgb(36, 36, 36);
    border-radius: 25px;
    padding: 15px 30px; 
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px rgb(42, 106, 119);
    background: linear-gradient(
        180deg,
        rgb(21, 59, 66)25%,
        rgb(0, 0, 0)93%
    );
}
.pad:hover{
    background-color: transparent;
    border: 2px solid rgb(4, 4, 4);
    color: rgb(255, 255, 255);
}
.tomyu{
    display: block;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: rgb(36, 36, 36);
    border-radius: 25px;
    padding: 15px 30px; 
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px rgb(42, 106, 119);
    background: linear-gradient(
        180deg,
        rgb(21, 59, 66)25%,
        rgb(0, 0, 0)93%
    );
}
.tomyu:hover{
    background-color: transparent;
    border: 2px solid rgb(4, 4, 4);
    color: rgb(255, 255, 255);
}
.som{
    display: block;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: rgb(36, 36, 36);
    border-radius: 25px;
    padding: 15px 30px; 
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px rgb(42, 106, 119);
    background: linear-gradient(
        180deg,
        rgb(21, 59, 66)25%,
        rgb(0, 0, 0)93%
    );
}
.som:hover{
    background-color: transparent;
    border: 2px solid rgb(4, 4, 4);
    color: rgb(255, 255, 255);
}
.kua{
    display: block;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: rgb(36, 36, 36);
    border-radius: 25px;
    padding: 15px 30px; 
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px rgb(42, 106, 119);
    background: linear-gradient(
        180deg,
        rgb(21, 59, 66)25%,
        rgb(0, 0, 0)93%
    );
}
.kua:hover{
    background-color: transparent;
    border: 2px solid rgb(4, 4, 4);
    color: rgb(255, 255, 255);
}
.kai{
    display: block;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: rgb(36, 36, 36);
    border-radius: 25px;
    padding: 15px 30px; 
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px rgb(42, 106, 119);
    background: linear-gradient(
        180deg,
        rgb(21, 59, 66)25%,
        rgb(0, 0, 0)93%
    );
}
.kai:hover{
    background-color: transparent;
    border: 2px solid rgb(4, 4, 4);
    color: rgb(255, 255, 255);
}